/* CSS Document */
/*-----------------thân--------------------*/
/*-----------------hiện đại--------------------*/
.table_1{
	margin-left:30px;
	margin-top:20px;
}
.img1_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:300px;
	font-size:24px;
	margin-left:100px;
	z-index:1;
}
.img1_des:hover{
	color:#6AF4F2;
	text-align:center;
	margin:auto;
	margin-top:300px;
	font-size:24px;
	margin-left:100px;
	cursor:pointer;
}
.img2_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:40px;
	z-index:1;
}
.img2_des:hover{
	color:#6AF4F2;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:40px;
	cursor:pointer;
}
.img3_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:35px;
	z-index:1;
}
.img3_des:hover{
	color:#6AF4F2;
	text-align:center;
	margin:auto;
	margin:auto;
	margin-top:140px;
	margin-left:35px;
	cursor:pointer;
}
.img_1{
	width:600px;
	height:412px;
	float:left;
	overflow: hidden;
}
.img_1 img{
	transition-duration: 0.3s;
	width: 100%;
    height: 100%;
}
.img_1 img:hover{
	transform: scale(1.15);
}
.img_2{
	width:300px;
	height:206px;
	float:left;
	overflow: hidden;
}
.img_2 img{
	transition-duration: 0.3s;
	width: 100%;
    height: 100%;
}
.img_2 img:hover{
	transform: scale(1.15);
}
.img_3{
	width:300px;
	height:206px;
	float:left;
	overflow: hidden;
}
.img_3 img{
	transition-duration: 0.3s;
	width: 100%;
    height: 100%;
}
.img_3 img:hover{
	transform: scale(1.15);
}
.bor_hd{
	background-color:white;
	border:1px solid white;
	border-radius:2px;
	color:#000000;
	width:90px;
	padding:3px 3px;
	font-weight:bold;
	text-align:center;
}
.bor_hd:hover{
	background-color:#3DF0F3;
	border:1px solid #3DF0F3;
	border-radius:2px;
	color:#000000;
	width:90px;
	padding:3px 3px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.datetime{
	font-size:12px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:#DDDDDD;
	margin-top:10px;
}
.btn{
	padding:8px 8px;
	background-color:#1FBCB5;
	color:white;
	cursor:pointer;
	border:1px solid #1FBCB5;
	border-radius:3px;
	margin-top:20px;
}
.btn:hover{
	padding:8px 8px;
	background-color:#4CD2E8;
	color:white;
	cursor:pointer;
	border:1px solid #4CD2E8;
	border-radius:3px;
	margin-top:20px;
	font-weight:bold;
}
.h4:hover{
	color:#3DF0F3;
	cursor:pointer;
}
img{
	cursor:pointer;
}
/*-----------------hình_thân_hiện đại--------------------*/
.poster_1{
	margin-top:20px;
	width:400px;
	height:250px;
	overflow: hidden;
}
.poster_1 img{
	transition-duration: 0.3s;
	width: 100%;
    height: 100%;
}
.poster_1 img:hover{
	transform: scale(1.15);
}
.pos1_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:120px;
	z-index:1;
}
.pos1_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:120px;
	color:#6AF4F2;
	cursor:pointer;
}
.poster_2{
	margin-top:30px;
	width:400px;
	height:250px;
	overflow: hidden;
}
.poster_2 img{
	transition-duration: 0.3s;
	width: 100%;
    height: 100%;
}
.poster_2 img:hover{
	transform: scale(1.15);
}
.pos2_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:70px;
	z-index:1;
}
.pos2_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:70px;
	color:#6AF4F2;
	cursor:pointer;
}
.img_hd{
	margin-top:40px; 
	margin-bottom:70px;
	border:1px solid #A6A6A6;
	box-shadow: 8px 8px 8px 8px #121332;
	padding:5px 5px;
	background-color:#DBDBDB;
}
.img_hd:hover{
	cursor:default;
}
/*-----------------cổ đại--------------------*/
.img1_cd_des{
	font-size:24px;
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:320px;
	margin-left:150px;
	z-index:1;
}
.img1_cd_des:hover{
	font-size:24px;
	text-align:center;
	margin:auto;
	margin-top:320px;
	margin-left:150px;
	color:#6AF4F2;
	cursor:pointer;
}
.img2_cd_des{
	
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:60px;
	z-index:1;
}
.img2_cd_des:hover{
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:60px;
	color:#6AF4F2;
	cursor:pointer;
}
.img3_cd_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:150px;
	margin-left:95px;
	z-index:1;
}
.img3_cd_des:hover{
	text-align:center;
	margin:auto;
	margin-top:150px;
	margin-left:95px;
	color:#6AF4F2;
	cursor:pointer;
}

/*-----------------hình_thân_cổ đại--------------------*/
.pos1_cd_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:125px;
	z-index:1;
}
.pos1_cd_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:125px;
	color:#6AF4F2;
	cursor:pointer;
}
.pos2_cd_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:130px;
	z-index:1;
}
.pos2_cd_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:130px;
	color:#6AF4F2;
	cursor:pointer;
}
.img_cd{
	margin-top:40px; 
	margin-bottom:70px;
	border:1px solid #DBDBDB;
	box-shadow: 8px 8px 8px 8px #121332;
	padding:5px 5px;
	background-color:#DBDBDB;
}
.img_cd:hover{
	cursor:default;
}
/*-----------------xuyên không--------------------*/
.img1_xk_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:300px;
	font-size:24px;
	margin-left:80px;
	z-index:1;
}
.img1_xk_des:hover{
	text-align:center;
	margin:auto;
	margin-top:300px;
	font-size:24px;
	margin-left:80px;
	color:#6AF4F2;
	cursor:pointer;
}
.img2_xk_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:165px;
	margin-left:65px;
	z-index:1;
}
.img2_xk_des:hover{
	text-align:center;
	margin:auto;
	margin-top:165px;
	margin-left:65px;
	color:#6AF4F2;
	cursor:pointer;
}
.img3_xk_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:75px;
	z-index:1;
}
.img3_xk_des:hover{
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:75px;
	color:#6AF4F2;
	cursor:pointer;
}
/*-----------------hình_thân_xuyên không--------------------*/
.bor_xk{
	background-color:white;
	border:1px solid white;
	border-radius:2px;
	color:#000000;
	width:120px;
	padding:3px 3px;
	font-weight:bold;
	text-align:center;
}
.bor_xk:hover{
	background-color:#3DF0F3;
	border:1px solid #3DF0F3;
	border-radius:2px;
	color:#000000;
	width:120px;
	padding:3px 3px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
.pos1_xk_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:125px;
	z-index:1;
}
.pos1_xk_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:125px;
	color:#6AF4F2;
	cursor:pointer;
}
.pos2_xk_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:130px;
	z-index:1;
}
.pos2_xk_des:hover{
	text-align:center;
	margin:auto;
	margin-top:180px;
	margin-left:130px;
	color:#6AF4F2;
	cursor:pointer;
}
.img_xk{
	margin-top:40px; 
	margin-bottom:70px;
	border:1px solid #A6A6A6;
	box-shadow: 8px 8px 8px 8px #121332;
	padding:5px 5px;
	background-color:#DBDBDB;
}
.img_xk:hover{
	cursor:default;
}
/*-----------------huyền huyễn--------------------*/
.img1_hh_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	font-size:24px;
	margin-top:320px;
	margin-left:150px;
	z-index:1;
}
.img1_hh_des:hover{
	text-align:center;
	margin:auto;
	font-size:24px;
	margin-top:320px;
	margin-left:150px;
	color:#6AF4F2;
	cursor:pointer;
}
.img2_hh_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:150px;
	margin-left:40px;
	z-index:1;
}
.img2_hh_des:hover{
	text-align:center;
	margin:auto;
	margin-top:150px;
	margin-left:40px;
	color:#6AF4F2;
	cursor:pointer;
}
.img3_hh_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:65px;
	z-index:1;
}
.img3_hh_des:hover{
	text-align:center;
	margin:auto;
	margin-top:140px;
	margin-left:65px;
	color:#6AF4F2;
	cursor:pointer;
}
/*-----------------hình_thân_huyền huyễn--------------------*/
.pos1_hh_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:190px;
	margin-left:125px;
	z-index:1;
}
.pos1_hh_des:hover{
	text-align:center;
	margin:auto;
	margin-top:190px;
	margin-left:125px;
	color:#6AF4F2;
	cursor:pointer;
}
.pos2_hh_des{
	position: absolute;
	color:white;
	text-align:center;
	margin:auto;
	margin-top:190px;
	margin-left:100px;
	z-index:1;
}
.pos2_hh_des:hover{
	text-align:center;
	margin:auto;
	margin-top:190px;
	margin-left:100px;
	color:#6AF4F2;
	cursor:pointer;
}
.img_hh{
	margin-top:40px; 
	margin-bottom:100px;
	border:1px solid #DBDBDB;
	box-shadow: 8px 8px 8px 8px #121332;
	padding:5px 5px;
	background-color:#DBDBDB;
}
.img_hh:hover{
	cursor:default;
}

